<%= form_tag('/books/search', :class => "navbar-form pullleft") do %>
  <%= text_field_tag('keyword') %>
  <%= submit_tag('検索') %>
<% end %>
<hr>
<% @books.each do |book| %>
  <div class="well">
    <div style="float:left">
      <%= image_tag(book.medium_image_url) %>
    </div>
    <br style="clear:both"/>
    <%= link_to h(book.title), "/books/#{book.isbn}"%> <%= h(book.author) %>
  </div>
<% end %>

